.headerWrapper {
  width: 150px; /* Width */
  background-color: #ffffff; /* Background color */
}

.segmentedWrapper {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;

  .activeItem {
    background-color: #e6f4ff !important;
  }

  :global {
    .ant-segmented-item {
      margin-bottom: 16px;
    }
    .ant-segmented-item-label {
      font-size: 16px;
    }
  }
}
